<h1>importer</h1>

<p>choose a csv file to import</p>

<% if !@errors.empty? %>
  <div id="file-errors" class="form-errors">
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag({}, multipart: true) do %>
  <%= label_tag(:csv_file, "file:") %>
  <%= file_field_tag(:csv_file, required: true) %>
  <%= submit_tag("import data", class: 'submit') %>
<% end %>
